<h1>Item Detail Page</h1>
<!-- <p>
  SKU: {{ item-detail.sku }}<br />
  ASIN: {{ item-detail.asin }}<br />
  Department: {{ item-detail.department }}<br />
  Type: {{ item-detail.type }}<br />
  Brand: {{ item-detail.brand }}<br />
  Model: {{ item-detail.model }}<br />
  Size: {{ item-detail.size }}<br />
  Width: {{ item-detail.width }}<br />
  Color: {{ item-detail.color }}<br />
  Shipping Weight: {{ item-detail.shipWeight }}<br />
  Shipping Width: {{ item-detail.shipWidth }}<br />
  Shipping Height: {{ item-detail.shipHeight }}<br />
  Shipping Depth: {{ item-detail.shipDepth }}<br />
  Price MSRP List: {{ item-detail.priceList }}<br />
  Price Retail: {{ item-detail.priceRetail }}<br />
  Dollar Savings: {{ item-detail.priceSavings }}<br />
  Percent Savings: {{ item-detail.percentSavings }}<br />
  Price Wholesale: {{ userService.priceWholesale }}
</p> -->