<div class="container">
  <h1>Inventory Receiving Item Entry Form</h1>
  <br />
  <p>

  <input [(ngModel)]="itemDetail.sku" placeholder="SKU" />

  <input [(ngModel)]="itemDetail.asin" placeholder="ASIN" />

  <input [(ngModel)]="itemDetail.department" placeholder="Mens, Womens, Kids" />

  <input [(ngModel)]="itemDetail.type" placeholder="Shoe Type" />

  <input [(ngModel)]="itemDetail.brand" placeholder="Brand" />
 
  <input [(ngModel)]="itemDetail.model" placeholder="Model" />

  <input [(ngModel)]="itemDetail.size" placeholder="Size" />
 
  <input [(ngModel)]="itemDetail.width" placeholder="Width" />

  <input [(ngModel)]="itemDetail.color" placeholder="Color" />
 
  <input [(ngModel)]="itemDetail.shipWeight" placeholder="Shipping Weight" />

  <input [(ngModel)]="itemDetail.shipWidth" placeholder="Shipping box width" />

  <input [(ngModel)]="itemDetail.shipHeight" placeholder="Shipping box height" />

  <input [(ngModel)]="itemDetail.shipDepth" placeholder="Shipping box depth" />

  <input [(ngModel)]="itemDetail.priceList" placeholder="MSRP list price" />

  <input [(ngModel)]="itemDetail.priceRetail" placeholder="Retail price" />

  <input [(ngModel)]="itemDetail.priceSavings" placeholder="MSRP minus Retail" />

  <input [(ngModel)]="itemDetail.percentSavings" placeholder="Percent savings" />

  <input [(ngModel)]="itemDetail.priceWholesale" placeholder="Wholesale cost" />
<br>
  <button (click)="addItem()">Add Item</button>
</p>
</div>
